{% extends "Theme/Users/Adminuser/layoutbaseorg.html.twig" %}
{% block meta %}
	{{ parent() }}
	<meta name="author" content="Sprint-pay"/>
	<meta name="description" content="{{ site }} - Connexion"/>
{% endblock %}

{% block title %}
	{{ parent() }} | Connexion
{% endblock %}

{% block userblog_body %}

<section class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
    <section style="min-height: 98px; padding: 15px 50px; background: #1e4a8b; color: #fff; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
        <div class="row">
            <div class="col-md-8">
                <h1>Tableau de bord</h1>
                <div>
                  <span class="bi bi-geo-alt"></span> Global - Buéa - Entrepot
              </div>
            </div>
            <div class="col-md-4">
                <span style="float: right;">
                   <a href="{{ path('users_adminuser_nouvelle_cotation', {'id': 1}) }}" class="btn btn-primary mt-2">Ajouter une cotation</a>
                </span>
            </div>
        </div>
    </section>
</section>

<div class="container" style="min-height: calc(100vh - 150px);">
    <ul class="breadcrumb_" itemprop="breadcrumb_">
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Contacts</a></li>
      <li><h1>Liste des clients</h1></li>
    </ul>

    <div class="mt-3 mb-3 text-center" style="background: #fff; padding: 20px;">
        <div class="row">
            <div class="col-md-8 text-left">
                <h3>Liste des contacts</h3>
            </div>
            <div class="col-md-4">
                <select name="" id="" class="form-control">
                    <option value="">Select</option>
                </select>
            </div>
        </div>
    </div>

    <div class="mb-3" style="background: #fff; padding: 20px; min-height: 400px;">
        <h3>Nos contacts</h3>
        <hr/>
        
        <div class="card-dash-csu">
            <div class="table-responsive-vertical shadow-z-1" style="box-shadow:0px 0px 2px rgba(0,0,0,0.0005);">
            <table id="table" class="table table-hover table-mc-light-blue" style="margin: 0px 0px 15px 0px;">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date Description</th>
                <th>Nb. de dossier</th>
                <th>Téléphone</th>
                <th>Emails</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td data-title="Nom">Jeam Michel</td>
                <td data-title="Date Description">12.05.2021</td>
                <td data-title="Nb. de dossier">05</td>
                <td data-title="Téléphone">
                    657 87 96 58
                </td>
                <td data-title="Emails">noel.k@yahh.fr</td>
                <td data-title="Action" style="white-space: nowrap;">
                    <div class="dropdown" style="float: right;">
                        <a href="" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="bi bi-three-dots"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#"><span class="bi bi-pencil-square"></span> Modifier</a>
                          <a class="dropdown-item" href="#"><span class="bi bi-trash"></span> Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td data-title="Nom">Blaise Sonko</td>
                <td data-title="Date Description">12.08.2021</td>
                <td data-title="Nb. de dossier">07</td>
                <td data-title="Téléphone">
                    657 98 54 58
                </td>
                <td data-title="Emails">blaise.sonko@yahh.fr</td>
                <td data-title="Action" style="white-space: nowrap;">
                    <div class="dropdown" style="float: right;">
                        <a href="" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="bi bi-three-dots"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#"><span class="bi bi-pencil-square"></span> Modifier</a>
                          <a class="dropdown-item" href="#"><span class="bi bi-trash"></span> Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td data-title="Nom">Blaise Sonko</td>
                <td data-title="Date Description">12.08.2021</td>
                <td data-title="Nb. de dossier">07</td>
                <td data-title="Téléphone">
                    657 98 54 58
                </td>
                <td data-title="Emails">blaise.sonko@yahh.fr</td>
                <td data-title="Action" style="white-space: nowrap;">
                    <div class="dropdown" style="float: right;">
                        <a href="" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="bi bi-three-dots"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#"><span class="bi bi-pencil-square"></span> Modifier</a>
                          <a class="dropdown-item" href="#"><span class="bi bi-trash"></span> Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td data-title="Nom">Blaise Sonko</td>
                <td data-title="Date Description">12.08.2021</td>
                <td data-title="Nb. de dossier">07</td>
                <td data-title="Téléphone">
                    657 98 54 58
                </td>
                <td data-title="Emails">blaise.sonko@yahh.fr</td>
                <td data-title="Action" style="white-space: nowrap;">
                    <div class="dropdown" style="float: right;">
                        <a href="" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="bi bi-three-dots"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#"><span class="bi bi-pencil-square"></span> Modifier</a>
                          <a class="dropdown-item" href="#"><span class="bi bi-trash"></span> Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td data-title="Nom">Blaise Sonko</td>
                <td data-title="Date Description">12.08.2021</td>
                <td data-title="Nb. de dossier">07</td>
                <td data-title="Téléphone">
                    657 98 54 58
                </td>
                <td data-title="Emails">blaise.sonko@yahh.fr</td>
                <td data-title="Action" style="white-space: nowrap;">
                    <div class="dropdown" style="float: right;">
                        <a href="" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="bi bi-three-dots"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#"><span class="bi bi-pencil-square"></span> Modifier</a>
                          <a class="dropdown-item" href="#"><span class="bi bi-trash"></span> Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td data-title="Nom">Blaise Sonko</td>
                <td data-title="Date Description">12.08.2021</td>
                <td data-title="Nb. de dossier">07</td>
                <td data-title="Téléphone">
                    657 98 54 58
                </td>
                <td data-title="Emails">blaise.sonko@yahh.fr</td>
                <td data-title="Action" style="white-space: nowrap;">
                    <div class="dropdown" style="float: right;">
                        <a href="" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="bi bi-three-dots"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#"><span class="bi bi-pencil-square"></span> Modifier</a>
                          <a class="dropdown-item" href="#"><span class="bi bi-trash"></span> Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td data-title="Nom">Blaise Sonko</td>
                <td data-title="Date Description">12.08.2021</td>
                <td data-title="Nb. de dossier">07</td>
                <td data-title="Téléphone">
                    657 98 54 58
                </td>
                <td data-title="Emails">blaise.sonko@yahh.fr</td>
                <td data-title="Action" style="white-space: nowrap;">
                    <div class="dropdown" style="float: right;">
                        <a href="" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="bi bi-three-dots"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#"><span class="bi bi-pencil-square"></span> Modifier</a>
                          <a class="dropdown-item" href="#"><span class="bi bi-trash"></span> Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td data-title="Nom">Blaise Sonko</td>
                <td data-title="Date Description">12.08.2021</td>
                <td data-title="Nb. de dossier">07</td>
                <td data-title="Téléphone">
                    657 98 54 58
                </td>
                <td data-title="Emails">blaise.sonko@yahh.fr</td>
                <td data-title="Action" style="white-space: nowrap;">
                    <div class="dropdown" style="float: right;">
                        <a href="" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="bi bi-three-dots"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#"><span class="bi bi-pencil-square"></span> Modifier</a>
                          <a class="dropdown-item" href="#"><span class="bi bi-trash"></span> Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
            </table>
            </div>
        </div>

    </div>

    <div class="mt-3 text-center " style="background: #fff; padding: 20px;">
        <ul class="pagination-cotation">
            <li><a class="" href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" class="active">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>


</div>
<!-- content-wrapper ends -->

  
{% endblock %}

{% block javascripttemplate %}

{% endblock %}