{% if position == "offerts" %}


{% elseif(position == "dash") %}
  <!-- partial:../../partials/_footer.html -->
  <footer class="footer" style="border-top: 1px solid #ddd; margin-top: 15px; background: #fff;">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-center text-sm-left d-block d-sm-inline-block">&copy; Copyright <strong><span>Cotation Global.</span></strong> All Rights Reserved.  </span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Designed with <span class="fa fa-heart"></span>   by <a href="http://sprint-pay.com/" style="font-weight: 600;">Sprint-pay</a></span>
    </div>
  </footer>
<!-- partial -->
{% endif %}
