{% extends "Theme/Users/Adminuser/layoutadmin.html.twig" %}
{% block meta %}
	{{ parent() }}
	<meta name="author" content="Sprint-pay"/>
	<meta name="description" content="{{ site }} - Connexion"/>
{% endblock %}

{% block title %}
	{{ parent() }} | Connexion
{% endblock %}

{% block userblog_body %}
<section class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
    <section style="min-height: 98px; padding: 15px 50px; background: #1e4a8b; color: #fff; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
        <div class="row">
            <div class="col-md-8">
                <h1>Liste des villes</h1>
                <div>
                  <span class="bi bi-geo-alt"></span> Global - Administration
              </div>
            </div>
            <div class="col-md-4">
                <span style="float: right;">
                    <a href="#!" data-toggle="modal" data-target="#articleModalCenter" class="btn btn-primary mt-2">Ajouter Une ville</a>
                  </span>
            </div>
        </div>
    </section>
</section>

<div class="container" style="min-height: calc(100vh - 150px);">
    <ul class="breadcrumb_" itemprop="breadcrumb_">
      <li><a href="#">Tableau de bord</a></li>
      <li><a href="#">Localisation</a></li>
      <li><h1>Liste des villes</h1></li>
    </ul>

    <div class="mt-3" style="background: #fff; padding: 20px;">
        <h3>Liste des villes</h3>
        <hr/>
        <div class="row">
            <div class="col-md-4">
              <div class="card-cotation card-1">
                <h3>Ionic Native</h3>
                <p>A curated set of   ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality to your Ionic apps.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-cotation card-2">
                <h3>UI Components</h3>
                <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
                  of mobile UI components, ready to go.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-cotation card-3">
                <h3>Theming</h3>
                <p>Learn how to easily customize and modify your app’s design to fit your
                  brand across all mobile platform styles.</p>
              </div>
            </div>

            <div class="col-md-4">
                <div class="card-cotation card-1">
                  <h3>Ionic Native</h3>
                  <p>A curated set of   ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality to your Ionic apps.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-cotation card-2">
                  <h3>UI Components</h3>
                  <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
                    of mobile UI components, ready to go.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-cotation card-3">
                  <h3>Theming</h3>
                  <p>Learn how to easily customize and modify your app’s design to fit your
                    brand across all mobile platform styles.</p>
                </div>
              </div>
        </div>

    </div>

    <div class="mt-3 text-center " style="background: #fff; padding: 20px;">
        <ul class="pagination-cotation">
            <li><a class="" href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" class="active">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>


</div>
<!-- content-wrapper ends -->

  
{% endblock %}

{% block javascripttemplate %}

{% endblock %}